<div class="row">

    <div class="col" style="text-align:center;">

        <footer>

            <hr>

            <a href="https://github.com/AdrienJarretier/mj-polls" class="link-secondary"><i class="bi-github" role="img"
                    aria-label="GitHub" style="font-size:32px;"></i></a>

        </footer>

    </div>

</div>