<div class="row">

    <div class="col">
        <header>

            <img src="images/logo.png" class="img-fluid" alt="Majority judgement banner" />
            <p>A web application to organise, run and analyse Majority Judgement polls</p>

        </header>

    </div>

</div>