<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
    <%= globalTitle %>
        <% if(locals.pageTitle) { %>
            - <%= pageTitle %>
                <% } %>
</title>

<link rel="stylesheet" href="/extLibs/bootstrap-5.0.2-dist/css/bootstrap.min.css">


<script src="/extLibs/jquery-3.4.1.min.js"></script>
<!-- <script src="extLibs/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
<script src="/extLibs/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>

<script src="/javascripts/utils.js"></script>

<!-- <link href="extLibs/open-iconic-1.1.1/font/css/open-iconic-bootstrap.css" rel="stylesheet"> -->

<link rel="stylesheet" href="/stylesheets/style.css" />

<link rel="stylesheet" href="extLibs/bootstrap-icons/font/bootstrap-icons.css">
</link>

<link rel="icon" href="/images/favicon96.png">

<link rel="apple-touch-icon" sizes="96x96" href="/images/favicon96.png">

<meta name="description" content="Create polls using the Majority Judgement voting system.">