<div class="row">

    <div class="col">
        <header>

            <img src="/images/logo.png" class="img-fluid" alt="Majority judgement banner" />
            <p>A web application for creating, running and visualizing majority judgment polls.</p>

        </header>

    </div>

</div>



<div class="row">

    <div class="col">


        <nav class="navbar bg-dark bg-gradient shadow-lg p-3 mb-5 rounded">
            <div class="container-fluid">

                <a href="/"><button class="btn btn-md btn-secondary" type="button">Home</button></a>


                <a href="/createPoll"><button class="btn btn-md btn-secondary" type="button">Create a
                        poll</button></a>

                <a href="/context"><button class="btn btn-md btn-secondary" type="button">Context</button></a>

            </div>
        </nav>

    </div>

</div>