DirectoryIndex index.php

RewriteEngine on

# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/static/public%{REQUEST_URI} -f
RewriteRule ^ static/public%{REQUEST_URI} [L]


# uncomment to enable front end units tests access
# RewriteRule ^tests static%{REQUEST_URI} [L]

RewriteCond %{REQUEST_URI} !^/static/public/

# uncomment to enable front end units tests access
# RewriteCond %{REQUEST_URI} !^/static/tests/

RewriteRule ^(.*)$ index.php [QSA]

DirectoryIndex index.html
