DirectoryIndex index.php

RewriteEngine on

# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/static/public%{REQUEST_URI} -f
RewriteRule ^ static/public%{REQUEST_URI} [L]

# RewriteCond %{DOCUMENT_ROOT}/static/tests%{REQUEST_URI} -f
# RewriteRule ^ static/tests%{REQUEST_URI} [L]

RewriteCond %{REQUEST_URI} !^/static/public/
RewriteCond %{REQUEST_URI} !^/static/tests/
RewriteRule ^(.*)$ index.php [QSA]