DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /sondage

# Deliver the folder or file directly if it exists on the server
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# Deliver the folder or file directly if it is inside static/public
RewriteCond %{REQUEST_FILENAME} !(static/public)

 
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]