body {
  padding-top: 20px;
  background-color: hsl(240, 3%, 14%);
  color: white;
}

header img {
  max-height: 130px;
}

.form-control, .form-control:focus, .form-control[readonly] {
  background-color: rgb(67, 67, 71);
  color: white;
}

#titleArea * {
  text-align: center;
}

#titleArea textarea {
  min-height: 100px;
}

.popoverButton {
  background-color: #553d8a;
}

.popoverButton:hover {
  background-color: hsl(259, 39%, 29%);
}

.popoverButton:active, .popoverButton:focus {
  background-color: hsl(259, 39%, 24%);
}

.sharePopover {
  max-width: 670px;
} 

@media (min-width:580px) {
  .sharePopover input {
    width: 540px;
  }
}

@media (max-width:580px) {
  .sharePopover {
    width: 100%;
  } 

  .sharePopover .copyBtnCol {
    flex: auto;
  } 
}

input[type=datetime-local] {
  width: fit-content;
}
