<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>

      'use strict';

      var choices = 0;

      $(async function () {

        function addChoiceInput() {

          let choiceInput = $('#choiceInputTemplate')[0].content;

          let cloned = $(choiceInput.cloneNode(true));

          // console.log($(cloned.children().children()[0]).attr('for'));

          let label = cloned.children().children().eq(0);
          let input = cloned.children().children().eq(1);

          // console.log(input);

          let idAttr = input.attr('id');
          // console.log(idAttr);

          label.attr('for', idAttr + choices);
          input.attr('id', idAttr + choices);
          label.text(choices + ' : ');

          ++choices;
          $('#choices').append(cloned);

        }


        function removeChoiceInput() {

          $('#choices').children().last().remove();
          --choices;

        }

        function updateChoicesInputs() {

          let requestedChoices = $('#addChoice').val();

          if (requestedChoices >= 0) {

            while (choices < requestedChoices) {

              addChoiceInput();

            }

            while (choices > requestedChoices) {

              removeChoiceInput();

            }
          }

        }

        $('#addChoice').change(updateChoicesInputs);

        $('#submitButton').click(async () => {

          let formData = parseForm('form');

          let pollId = await post('/polls', formData);

          console.log(pollId);

          window.location.href = 'poll/' + pollId;

        });

        updateChoicesInputs();

      });


    </script>

</head>


<body>

  <div class="container">

    <div class="row">

      <nav>

        <a href="/">home</a>

      </nav>

      <div class="col">

      </div>
    </div>

    <br>

    <div class="row">

      <form>

        <div class="row">
          <div class="col">

            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <textarea id="title" name="title" type=" text" class="form-control">
              </textarea>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col">
            <label for="inputMaxVotes" class="form-label">Max votes</label>
            <input id="inputMaxVotes" type="number" class="form-control" placeholder="No max">
          </div>


          <div class="col">
            <label for="inputMaxDate" class="form-label">Max Date</label>
            <input id="inputMaxDate" type="date" class="form-control" placeholder="No max" min="2021-07-18">
          </div>

          <div class="col">
            <label for="inputMaxtime" class="form-label">Max Time</label>
            <input id="inputMaxtime" type="time" class="form-control" placeholder="No max">
          </div>
        </div>

        <fieldset id="choices" class="mt-4">
          <legend>Choices</legend>

          <input type="number" id="addChoice" class="form-control" min="1" value="1">

          <div id="choicesList">

          </div>

        </fieldset>

        <button type="button" id="submitButton" class="btn-dark mt-3">Submit</button>

      </form>

    </div>


  </div>

</body>

<template id="choiceInputTemplate">

  <p>
    <label for="choice-"></label>
    <input id="choice-" name="choices[]" type="text">
  </p>

</template>

</html>