<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>

      'use strict';

      const duplicateCheckMethods = JSON.parse('<%- duplicateCheckMethods %>');

      console.log(duplicateCheckMethods);

      var choices = 0;

      $(async function () {

        function addChoiceInput() {

          let choiceInput = $('#choiceInputTemplate')[0].content;

          let cloned = $(choiceInput.cloneNode(true));

          // console.log($(cloned.children().children()[0]).attr('for'));

          let label = cloned.children().children().eq(0);
          let input = cloned.children().children().eq(1);

          // console.log(input);

          let idAttr = input.attr('id');
          // console.log(idAttr);

          ++choices;
          label.attr('for', idAttr + choices);
          input.attr('id', idAttr + choices);
          label.text(choices);

          $('#choices').append(cloned);

        }


        function removeChoiceInput() {

          $('#choices').children().last().remove();
          --choices;

        }

        function updateChoicesInputs() {

          let requestedChoices = $('#addChoice').val();

          if (requestedChoices >= 0) {

            while (choices < requestedChoices) {

              addChoiceInput();

            }

            while (choices > requestedChoices) {

              removeChoiceInput();

            }
          }

        }

        $('#addChoice').change(updateChoicesInputs);

        $('#submitButton').click(async () => {

          let formData = parseForm('form');

          let pollId = await post('/polls', formData);

          console.log(pollId);

          window.location.href = 'poll/' + pollId;

        });

        updateChoicesInputs();

      });


    </script>

</head>


<body>

  <div class="container">

    <div class="row">

      <nav>

        <a href="/">home</a>

      </nav>

      <div class="col">

      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">

        <form>

          <div class="row">
            <div class="col">

              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <textarea id="title" name="title" type=" text" class="form-control"></textarea>
              </div>

            </div>
          </div>


          <div class="row">
            <div class="col-3">
              <label for="inputMaxVotes" class="form-label">Max votes</label>
              <input id="inputMaxVotes" type="number" class="form-control" placeholder="No max">
            </div>


            <div class="col-1">
            </div>


            <div class="col">

              <label for="inputMaxDate" class="form-label">Max Date and Time</label>
              <div class="input-group">
                <input id="inputMaxDate" type="date" class="form-control" min="" aria-label="Max Date">
                <span class="input-group-text">at</span>
                <input id="inputMaxtime" type="time" class="form-control" aria-label="Max Time">
              </div>
            </div>


          </div>


          <div class="row">
            <div class="col">

              <select class="form-select" name="duplicateCheckMethod" id="duplicateCheckMethod">
                <option selected>Optional duplicate check</option>
              </select>

            </div>
          </div>

          <div class="row">
            <div class="col">
              <fieldset id="choices" class="mt-4">
                <legend>Choices</legend>

                <div class="row">
                  <div class="col-3">
                    <input type="number" id="addChoice" class="form-control mb-3" min="1" value="1">
                  </div>
                </div>
                <div id="choicesList">

                </div>

              </fieldset>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <button type="button" id="submitButton" class="btn btn-secondary btn-lg">Create poll</button>

            </div>
          </div>

        </form>

      </div>
    </div>


  </div>

</body>

<template id="choiceInputTemplate">

  <div class="my-2 input-group">
    <label for="choice-" class="input-group-text"></label>
    <input id="choice-" name="choices[]" type="text" class="form-control">
  </div>

</template>

</html>