<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>

      'use strict';

      var choices = 0;

      $(async function () {

        function addChoiceInput() {

          let choiceInput = $('#choiceInputTemplate')[0].content;

          let cloned = $(choiceInput.cloneNode(true));

          // console.log($(cloned.children().children()[0]).attr('for'));

          let label = cloned.children().children().eq(0);
          let input = cloned.children().children().eq(1);

          // console.log(input);

          let idAttr = input.attr('id');
          // console.log(idAttr);

          label.attr('for', idAttr + choices);
          input.attr('id', idAttr + choices);
          label.text(choices + ' : ');

          ++choices;
          $('#choices').append(cloned);

        }


        function removeChoiceInput() {

          $('#choices').children().last().remove();
          --choices;

        }

        function updateChoicesInputs() {

          let requestedChoices = $('#addChoice').val();

          if (requestedChoices >= 0) {

            while (choices < requestedChoices) {

              addChoiceInput();

            }

            while (choices > requestedChoices) {

              removeChoiceInput();

            }
          }

        }

        $('#addChoice').change(updateChoicesInputs);

        $('#submitButton').click(async () => {

          let formData = parseForm('form');

          let poll = await post('/polls', formData);

          window.location.href = 'poll/' + poll.id;

        });

        updateChoicesInputs();

      });


    </script>

</head>


<body>

  <div class="container">

    <div class="row">

      <nav>

        <a href="/">home</a>

      </nav>

      <div class="col">

      </div>
    </div>

    <br>

    <div class="row">

      <form>

        <label for="title">Title : </label>
        <textarea id="title" name="title" type=" text"></textarea>

        <br>
        <br>

        <fieldset id="choices">
          <legend>Choices</legend>

          <input type="number" id="addChoice">

        </fieldset>

        <br>
        <br>

        <button type="button" id="submitButton">submit</button>

      </form>

    </div>


  </div>

</body>

<template id="choiceInputTemplate">

  <p>
    <label for="choice-"></label>
    <input id="choice-" name="choices[]" type="text">
  </p>

</template>

</html>