<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>
      'use strict';

      $(async function () {

        let recentPolls = await get('/polls/recent');

        for (const [id, poll] of Object.entries(recentPolls)) {


          console.log(poll);



          let pollPreviewTemplate = $('#pollPreviewTemplate')[0].content;

          let cloned = $(pollPreviewTemplate.cloneNode(true));

          let href = cloned.children().children().children().attr('href');

          cloned.children().children().children().attr('href', href + poll.id);
          cloned.children().children().children().text(poll.title);

          $('#mostRecent').append(cloned);
        }

      });

    </script>

</head>


<body>

  <div class="container">

    <div class="row">

      <div class="col">

        <nav>

          <a href="createPoll">Create a poll</a>

        </nav>

      </div>

    </div>

    <br>

    <div class="row">

      <div class="col" id="mostRecent"></div>

    </div>


  </div>

</body>

</html>

<template id="pollPreviewTemplate">

  <div class="row">

    <div class="col">

      <a href="poll/">title</a>

    </div>

  </div>

</template>