<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script src="/javascripts/script.js"></script>

</head>

<body>

  <div class="container">

    <%- include('partials/header.ejs') %>

      <div class="row">

        <div class="col">

        </div>
      </div>

      <%- include('partials/footer.ejs') %>

  </div>

</body>

</html>