<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script src="/javascripts/script.js"></script>

</head>

    <!-- Includes Body and container div opening tags as well as <header> -->
    <%- include('partials/header.ejs') %>

      <div class="row">

        <div class="col">

        </div>
      </div>

      <!-- Includes Body and container closing tags as well as <footer> -->
      <%- include('partials/footer.ejs') %>

</html>