<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>

      'use strict';

      const pollJSONstr = '<%- poll %>';
      const infiniteVoteEnabledStr = '<%- infiniteVoteEnabled %>';

      const parsedPoll = JSON.parse(pollJSONstr);
      const infiniteVoteEnabled = JSON.parse(infiniteVoteEnabledStr);

      function hasVoted(hasVoted) {

        if (hasVoted && !infiniteVoteEnabled) {

          $('#choicesForm').hide();
          $('#hasVotedAlert').show();

        } else {

          $('#hasVotedAlert').hide();
          makeVoteForm();
        }
      }

      function makeChoicesRow() {

      }

      async function makeVoteForm() {

        let grades = await get('/polls/grades');

        for (let grade of grades) {

          let row = $('<div>').addClass('row');
          row.append($('<div>').addClass('col').text(grade.value));

          for (let choice of parsedPoll.choices) {

            let col = $('<div>').addClass('col');
            let radioBtn = $('<input type="radio" required>')
              .attr('name', choice.id)
              .attr('value', grade.id);

            col.append(radioBtn);
            row.append(col);

          }

          $('#choicesForm').append(row);

        }

        let submitButton = $('<button type="submit" id="submitButton">')
          .addClass("btn-dark")
          .addClass("btn-block")
          .text('Vote')


        $('#choicesForm').append(submitButton)
          .submit(async function (event) {
            event.preventDefault();

            let formData = parseForm($(this));

            console.log(formData);

            let voteOk = await post(
              '/polls/' + parsedPoll.id + '/vote',
              formData
            );

            console.log(voteOk);

            if (voteOk) {

              localStorage.setItem(parsedPoll.id, true);

              hasVoted(true);

            }

          });


      }

      $(async function () {

        $('#title').text(parsedPoll.title);


        let row = $('<div>').addClass('row');
        row.append($('<div>').addClass('col'));
        for (let choice of parsedPoll.choices) {

          row.append($('<div>').addClass('col').text(choice.name));

        }
        $('#choices').append(row);


        if (!localStorage.getItem(parsedPoll.id)) {
          hasVoted(false);
        }
        else {
          hasVoted(true);
        }

      });


    </script>

</head>


<body>

  <div class="container">

    <div class="row">

      <nav>

        <a href="/">home</a>

      </nav>

      <div class="col">

      </div>
    </div>

    <br>


    <div class="row">

      <div class="col">

        <h2 id="title"></h2>
        <br>

        <div id="choices">
        </div>
        <form id="choicesForm">

        </form>

        <br>

        <div class="alert alert-success" role="alert" id="hasVotedAlert">
          <h4 class="alert-heading">Has voted</h4>
          <p>You have voted on this poll.</p>
        </div>


      </div>
    </div>


  </div>

</body>

</html>