<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

        <script>

            'use strict';

            $(async function () {

                const parsedPoll = JSON.parse('<%- poll %>');

                console.log(parsedPoll);

                let grades = await get('/polls/grades');


                let row = $('<div>').addClass('row');
                row.append($('<div>').addClass('col-4'));
                for (let choice of parsedPoll.choices) {

                    row.append($('<div>').addClass('col').text(choice.name));

                }
                $('#choices').append(row);

                for (let grade of grades) {

                    row = $('<div>').addClass('row');
                    row.append($('<div>').addClass('col-4').text(grade.value));

                    for (let choice of parsedPoll.choices) {

                        let col = $('<div>').addClass('col');
                        col.append($('<input type="radio" required>').attr('name', choice.id));
                        row.append(col);

                    }

                    $('#choices').append(row);

                }

            });


        </script>

</head>


<body>

    <div class="container">

        <div class="row">

            <nav>

                <a href="/">home</a>

            </nav>

            <div class="col">

            </div>
        </div>

        <br>

        <div class="row">

            <h1 id="title"></h1>

            <form id="choices">

                <button type="submit">submit</button>

            </form>

        </div>


    </div>

</body>

</html>