<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>

    <script>

      'use strict';

      const parsedPoll = JSON.parse('<%- poll %>');

      async function makeVoteForm() {

        let grades = await get('/polls/grades');

        for (let grade of grades) {

          let row = $('<div>').addClass('row');
          row.append($('<div>').addClass('col').text(grade.value));

          for (let choice of parsedPoll.choices) {

            let col = $('<div>').addClass('col');
            let radioBtn = $('<input type="radio" required>')
              .attr('name', choice.id)
              .attr('value', grade.id);

            col.append(radioBtn);
            row.append(col);

          }

          $('#choices').append(row);

        }

        let submitButton = $('<button type="submit" id="submitButton" class="btn-dark">')
          .text('submit')
          .submit(async function (event) {
            event.preventDefault();

            let formData = parseForm($(this));

            console.log(formData);

            let voteOk = await post(
              '/polls/' + parsedPoll.id + '/vote',
              formData
            );

            console.log(voteOk);

            if (voteOk) {

              localStorage.setItem(parsedPoll.id, true);

            }

          });

          $('#choicesForm').append(submitButton);
      }

      $(async function () {

        $('#title').text(parsedPoll.title);


        let row = $('<div>').addClass('row');
        row.append($('<div>').addClass('col'));
        for (let choice of parsedPoll.choices) {

          row.append($('<div>').addClass('col').text(choice.name));

        }
        $('#choices').append(row);

        makeVoteForm();

      });


    </script>

</head>


<body>

  <div class="container">

    <div class="row">

      <nav>

        <a href="/">home</a>

      </nav>

      <div class="col">

      </div>
    </div>

    <br>


    <div class="row">

      <div class="col">

        <h2 id="title"></h2>
        <br>

        <form id="choicesForm">

          <div id="choices"></div>

          <br>
        </form>
      </div>
    </div>


  </div>

</body>

</html>