<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>


        <script>

            'use strict';

            $(async function () {


            });

            const parsedPoll = JSON.parse('<%- poll %>');

        </script>

        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="/javascripts/plot_results.js"></script>

</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col">

                <div id="results_plot"></div>

            </div>
        </div>

    </div>

</body>

</html>