<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

        <script>

            'use strict';

            $(async function () {


            });

            const parsedPoll = JSON.parse('<%- poll %>');

        </script>

        <script src="/extLibs/chart.min.js"></script>
        <script src="/extLibs/chartjs-plugin-annotation.min.js"></script>
        <script src="/javascripts/order_candidates.js"></script>
        <script src="/javascripts/plot_results.js"></script>



</head>

<body>

    <div class="container">

        <%- include('partials/header.ejs') %>

            <div class="row">

                <div class="col">
                    <br>

                    <h2 id="title"></h2>
                    <br>

                    <h3 id="subtitle"></h3>
                    <br>

                    <canvas id="results_plot" width="400" height="400"></canvas>

                </div>
            </div>

            <%- include('partials/footer.ejs') %>

    </div>

</body>

</html>