body {
  padding-top: 20px;
}

.bookmarkRow {

  margin-bottom: 20px;

}

#choices .row{
  border: solid black 2px;
  padding: -1px;
  margin: -1px;
}

#choices .col{
  border: solid red 2px;
  padding: -1px;
  margin: -1px;
}