body {
  padding-top: 20px;
  background-color: rgb(41, 41, 41);
  color: white;
}

header img {
  max-height: 130px;
}

.form-control, .form-control:focus {
  background-color: rgb(67, 67, 71);
  color: white;
}

#titleArea * {
  text-align: center;
}

#titleArea textarea {
  min-height: 90px;
}

/* #choicesForm button{
  margin-top: 40px;
  text-align: center;
} */
